* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-image: url("./images/bg-header-desktop.png");
  background-repeat: no-repeat;
  padding-top: 90px;
  font-family: 'Bai Jamjuree', sans-serif;
}
.logoimg img {
  display: block;
  margin: auto;
  margin-bottom: 80px;
}
.history {
  text-align: center;
}
.history h1 {
  font-size: 40px;
  margin-bottom: 15px;
  color: hsl(210, 10%, 33%);
}
.history p {
  font-size: 17px;
  width: 45%;
  margin: auto;
  line-height: 24px;
  margin-bottom: 30px;
  color: hsl(201, 11%, 66%);
}
.btn {
  height: 45px;
  color: white;
  border: none;
  border-radius: 30px;
  margin: 5px;
  width: 200px;
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 130px;
  cursor: pointer;
  display: inline-block;
}
.top-grn {
  background-color: hsl(171, 66%, 44%);
  border-bottom: 3px solid hsl(171, 71%, 30%);
  box-shadow: 0 5px 15px hsl(171, 66%, 44%);
  /* box-shadow: 0 3px hsl(171, 71%, 30%); */
}
.top-blue {
  background-color: hsl(233, 100%, 69%);
  /* box-shadow: 0 3px hsl(233, 45%, 42%); */
  border-bottom: 3px solid hsl(233, 45%, 42%);
  box-shadow: 0 5px 15px hsl(233, 100%, 69%);
}

/* FLEX SECTION */
.snippet {
  text-align: center;
  margin-bottom: 60px;
}
.snippet h1 {
  font-size: 27px;
  margin-bottom: 15px;
  color: hsl(210, 10%, 33%);
}
.snippet p {
  font-size: 16px;
  width: 47%;
  margin: auto;
  line-height: 26px;
  color: hsl(201, 11%, 66%);
}
.mid-section {
  display: flex;
}
.laptop {
  width: 50%;
  /* flex: 1; */
}
.points {
  /* flex: 1; */
  width: 50%;
  /* border: 1px solid black; */
  padding-top: 50px;
  padding-left: 90px;
}
.laptop img {
  width: 100%;
  height: auto;
}
.point {
  margin-bottom: 50px;
}
.point h1 {
  margin-bottom: 8px;
  color: hsl(210, 10%, 33%);
}
.point p {
  line-height: 25px;
  width: 60%;
  color: hsl(201, 11%, 66%);
}
.desktop {
  margin-bottom: 110px;
}
.clipboard {
  text-align: center;
  margin-bottom: 60px;
}
.clipboard h1 {
  font-size: 27px;
  color: hsl(210, 10%, 33%);
  margin-bottom: 16px;
}
.clipboard p {
  font-size: 16px;
  width: 47%;
  margin: auto;
  line-height: 26px;
  color: hsl(201, 11%, 66%);
}
.image-dev img {
  display: block;
  margin: auto;
  width: 58%;
  margin-bottom: 65px;
}
.workflow {
  text-align: center;
  margin-bottom: 55px;
}
.workflow h1 {
  font-size: 30px;
  margin-bottom: 15px;
  color: hsl(210, 10%, 33%);
}
.workflow p {
  font-size: 16px;
  color: hsl(201, 11%, 66%);
}
.three-box {
  display: flex;
  width: 80%;
  margin: auto;
  text-align: center;
  margin-bottom: 100px;
  /* border: 1px solid black; */
}
.box {
  width: 33%;
  /* border: 1px solid black; */
  margin: auto;
}
.box img {
  margin-bottom: 25px;
}
.diff {
  margin-top: -15px;
  margin-bottom: -5px;
}
.box h3 {
  font-size: 22px;
  margin-bottom: 15px;
  color: hsl(210, 10%, 33%);
}
.box p {
  font-size: 16px;
  line-height: 26px;
  color: hsl(201, 11%, 66%);
  width: 100%;
}
.sponsor {
  width: 85%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 120px;
}
.bottom {
  text-align: center;
}
.bottom h1 {
  font-size: 35px;
  margin-bottom: 15px;
  color: hsl(210, 10%, 33%);
}
.bottom p {
  font-size: 17px;
  width: 48%;
  margin: auto;
  line-height: 24px;
  margin-bottom: 30px;
  color: hsl(201, 11%, 66%);
}
footer {
  background-color: hsl(200, 20%, 94%);
  min-height: 15vh;
}
.foot {
  display: flex;
  width: 80%;
  margin: auto;
}
.faq-contact {
  display: flex;
  justify-content: space-between;
  width: 65%;
}
.foot-logo {
  width: 45%;
  padding-top: 35px;
}
.icons {
  margin-left: auto;
  display: flex;
  width: 12%;
  align-items: center;
  justify-content: space-between;
}
.icons img:hover {
  color: hsl(171, 66%, 44%);
  cursor: pointer;
}
.faq {
  padding-top: 30px;
  width: 20%;
  font-weight: bold;
  line-height: 40px;
  color: hsl(210, 10%, 33%);
}
.faq p:hover {
  color: hsl(171, 66%, 44%);
  cursor: pointer;
}
.icons a:hover {
  color: hsl(171, 66%, 44%);
  cursor: pointer;
}
.attribution a:hover {
  color: hsl(171, 66%, 44%);
  font-weight: bold;
}


@media (max-width:1160px) {
  .points {
    padding-top: 0;
    padding-left: 50px;
  }
  .point {
    margin-bottom: 30px;
  }
  .point h1 {
    margin-bottom: 8px;
    color: hsl(210, 10%, 33%);
  }
  .point p {
    line-height: 25px;
    width: 70%;
    color: hsl(201, 11%, 66%);
  }
}

@media (max-width:1000px) {
  .mid-section {
    display: flex;
    flex-wrap: wrap;
  }
  .laptop {
    width: 100%;
  }
  .points {
    width: 100%;
    text-align: center;
    padding-top: 60px;
    padding-left: 0;
  }
  .laptop img {
    width: 50%;
    height: auto;
    display: block;
    margin: auto;
  }
  .points p {
    margin: auto;
  }
  .three-box {
    width: 90%;
  }
  .sponsor {
    width: 90%;
  }
  .desktop {
    margin-bottom: 70px;
  }
  .faq-contact {
    width: 75%;
  }
}

@media (max-width:880px) {
  .three-box {
    width: 100%;
  }
  .sponsor {
    width: 97%;
  }
  .snippet p, .bottom p, .history p, .clipboard p {
    width: 80%;
  }
  .clipboard {
    margin-bottom: 40px;
  }
}

@media (max-width:810px) {
  .sponsor {
    flex-direction: column;
  }
  .sponsor img {
    margin-bottom: 40px;
  }
  .three-box {
    flex-direction: column;
    margin-bottom: 50px;
  }
  .box {
    margin-bottom: 30px;
  }
  .diff {
    margin-top: 0;
    margin-bottom: 0;
  }
  .faq-contact {
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
  }
  .foot {
    width: 40%;
    flex-direction: column;
  }
  .foot-logo {
    width: 50%;
    margin-bottom: 40px;
  }
  .icons {
    margin-left: 0;
    display: flex;
    width: 52%;
    margin: auto;
  }
  .faq {
    padding-top: 0;
    width: 70%;
  }
}

@media (max-width:700px) {
  .history h1 {
    width: 80%;
    font-size: 35px;
    margin: auto;
    margin-bottom: 20px;
  }
  .history p {
    width: 87%;
  }
  .btn {
    width: 80%;
    height: 55px;
  }
  .top-grn {
    margin-bottom: 10px;
  }
  .laptop img {
    width: 80%;
    height: auto;
  }
  .point p {
    width: 82%;
  }
  .clipboard p {
    width: 85%;
  }
  .image-dev img {
    width: 85%;
  }
  .box {
    width: 90%;
  }
  .box p {
    width: 90%;
    margin: auto;
  }
  .sponsor img {
    margin-bottom: 60px;
  }
  .sponsor {
    margin-bottom: 70px;
  }
  .bottom h1 {
    font-size: 33px;
    width: 95%;
    margin: auto;
    margin-bottom: 15px;
  }
  .bottom p {
    width: 85%;
  }
}